<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/blogstyle.css' %}">
</head>
<body>
<h1>Retrieve Data here</h1>

<div class="select2-container--above">

    <form method="POST" class="post-form" action="/update/{{ contactdata.id }}">
        {% csrf_token %}


        <label>Name</label>
        <input type="text" name="name" value="{{ contactdata.name }}" />


        <label>Email</label>
        <input type="email" name="email" value="{{ contactdata.email }}" />


        <label>Phone</label>
        <input type="text" name="phone" value="{{ contactdata.phone }}" />


        <button type="submit">Submit</button>


    </form>


</div>

</body>
</html>